Whether or not you like football, the Super Bowl is a spectacle. There's a little something for everyone at your Super Bowl party. Drama in the form of blowouts, comebacks, and controversy for the sports fan. There are the ridiculously expensive ads, some hilarious, others gut-wrenching, thought-provoking, and weird. The half-time shows with the biggest musicians in the world, sometimes riding giant mechanical tigers or leaping from the roof of the stadium. 

The dataset we'll use was scraped and polished from Wikipedia. It is made up of three CSV files, one with game data, one with TV data, and one with halftime musician data for 52 Super Bowls through 2018. 

## The Data

Three datasets have been provided, and summaries and previews of each are presented below.

### 1. **halftime_musicians.csv**

This dataset contains information about the musicians who performed during the halftime shows of various Super Bowl games. The structure is shown below, and it applies to all remaining files.

| Column       | Description                                                                                  |
|--------------|----------------------------------------------------------------------------------------------|
| `'super_bowl'` | The Super Bowl number (e.g., 52 for Super Bowl LII).                                         |
| `'musician'`   | The name of the musician or musical group that performed during the halftime show.           |
| `'num_songs'`  | The number of songs performed by the musician or group during the halftime show.             |

### 2. **super_bowls.csv**

This dataset provides details about each Super Bowl game, including the date, location, participating teams, and scores, including the points difference between the winning and losing team (`'difference_pts'`).

### 3. **tv.csv**

This dataset contains television viewership statistics and advertisement costs related to each Super Bowl.

In [1]:
# Import libraries
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# Load the CSV data into DataFrames
super_bowls = pd.read_csv("datasets/super_bowls.csv")
super_bowls.head()

         date  super_bowl  ... combined_pts difference_pts
0  2018-02-04          52  ...           74              8
1  2017-02-05          51  ...           62              6
2  2016-02-07          50  ...           34             14
3  2015-02-01          49  ...           52              4
4  2014-02-02          48  ...           51             35

[5 rows x 18 columns]

In [3]:
tv = pd.read_csv("datasets/tv.csv")
tv.head()

   super_bowl network  avg_us_viewers  ...  rating_18_49  share_18_49  ad_cost
0          52     NBC       103390000  ...          33.4         78.0  5000000
1          51     Fox       111319000  ...          37.1         79.0  5000000
2          50     CBS       111864000  ...          37.7         79.0  5000000
3          49     NBC       114442000  ...          39.1         79.0  4500000
4          48     Fox       112191000  ...          39.3         77.0  4000000

[5 rows x 9 columns]

In [4]:
halftime_musicians = pd.read_csv("datasets/halftime_musicians.csv")
halftime_musicians.head()

   super_bowl                               musician  num_songs
0          52                      Justin Timberlake       11.0
1          52  University of Minnesota Marching Band        1.0
2          51                              Lady Gaga        7.0
3          50                               Coldplay        6.0
4          50                                Beyoncé        3.0

#### Has TV viewership increased over time? Save your answer as a *boolean variable* named ``viewership_increased``.

In [5]:
# Start coding here
# Use as many cells as you need

#### How many matches finished with a point *difference greater than 40*? Save your answer as an integer named ``difference``.

#### Who performed the most songs in Super Bowl halftime shows? Save your answer as a *string* named ``most_songs``.